$background-color: #FFFFFF;
$color-text:#000000;
$background-hero:#06071B;
$header-gradient: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
$buttons-gradient:linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
$white-color:#FFFFFF;