@import '~node_modules/modern-normalize/modern-normalize.css';
body {font-family: 'Inter', sans-serif;
background-color: $background-color;
color: $color-text;
font-weight: 500;
font-size: 16px;
}
.list{
    list-style: none;
}
a{
    text-decoration: none;
}
image{
    display: block;
    width: 100%;
}
.container{
    width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
