@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: 'Inter', sans-serif;
  background-color: $background-color;
  color: $color-text;
  font-weight: 500;
  font-size: 16px;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}
.container{width: 320px;
  margin: 0 auto;}
@media  screen and (min-width: 768px){
  .container{
  width: 100vw;}
}
@media  screen and (min-width: 1280px){
  .container{ 
  width: 1280px;
  padding: 0 15px;}
}

