@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100vw;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 15px;
  }
}
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.header {
  background-color: #06071b;
  height: 98px;
}

.header-section {
  display: flex;
  height: 72px;
  background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  transform: translateY(26px);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.logo {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
  color: #ffffff;
}

.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  color: #ffffff;
  background-color: #06071b;
  background-position: center;
}

.container--relative {
  position: relative;
}

.hero__picture-mobile {
  position: absolute;
  top: 10px;
  right: 0;
}

.hero__picture-spraying {
  position: absolute;
  top: 30px;
  left: 0;
}

.hero__box {
  display: flex;
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 145px;
  padding-bottom: 146px;
}

.hero__title {
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 1.2;
}

.hero__subtitle {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.hero__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 60px;
  font-weight: 700;
  line-height: 1.19;
}

.items__link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ffffff;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items__link:hover, .items__link:focus {
  transform: scale(1.03);
}

.items__icon {
  fill: currentColor;
}

.hero__button {
  padding: 11px 60px;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border: transparent;
  border-radius: 5px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  transform: scale(1.03);
}

.section-features__container {
  padding: 40px 20px;
  position: relative;
}
.section-features__container::after {
  display: block;
  position: absolute;
  content: "";
  width: 249px;
  height: 167px;
  top: 79px;
  left: 5px;
  background: linear-gradient(0deg, rgba(0, 197, 235, 0.2), rgba(181, 68, 254, 0.2));
  filter: blur(110.5px);
  transform: rotate(39.93deg);
}
.section-features__container::before {
  display: block;
  position: absolute;
  content: "";
  width: 100vw;
  height: 338px;
  top: 986px;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 197, 235, 0.25), rgba(61, 153, 241, 0.155), rgba(181, 68, 254, 0.25));
  filter: blur(109.5px);
  transform: rotate(174.64deg);
}

.section-features__title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 40px;
}
.section-features__text {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  margin-bottom: 40px;
}

.section-features__image {
  width: 280px;
}

.section-features__tablet-image {
  display: none;
}

.features__list {
  list-style: none;
  margin-left: 40px;
  margin-top: 40px;
  width: 220px;
}
.features__item {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
}
.features__item:last-child {
  margin-bottom: 0;
}
.features__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  transform: translateX(-100%);
  width: 28px;
  height: 28px;
  background-image: url(../images/image-features.png);
}
.features__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 13px;
}
.features__text {
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (min-width: 768px) {
  .section-features__container {
    padding: 40px 32px 80px 32px;
  }
  .section-features__container::after {
    display: none;
  }
  .section-features__container::before {
    display: none;
  }
  .section-features__title {
    font-size: 24px;
    line-height: 1.2;
  }
  .section-features__text {
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5;
  }
  .section-features__image {
    display: none;
  }
  .section-features__tablet-image {
    display: block;
    position: absolute;
    top: 221px;
    left: 0;
  }
  .features__list {
    margin-left: auto;
    margin-right: 90px;
    margin-top: 40px;
    width: 238px;
  }
  .features__item {
    margin-bottom: 80px;
  }
  .features__item:nth-child(n+5) {
    margin-bottom: 0;
  }
  .features__item:last-child {
    position: absolute;
    width: 238px;
    left: 74px;
    bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .section-features__container {
    position: relative;
    padding: 40px 0px 105px 0px;
  }
  .section-features__container::after {
    display: block;
    width: 304px;
    height: 203px;
    top: 85px;
    left: 964px;
    transform: none;
  }
  .section-features__container::before {
    display: block;
    width: 1044px;
    height: 824px;
    top: 20px;
    right: 373px;
    transform: rotate(59.96deg);
  }
  .section-features__title {
    margin-bottom: 80px;
  }
  .section-features__image {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 277px;
    width: 396px;
  }
  .section-features__text {
    width: 884px;
  }
  .section-features__tablet-image {
    display: none;
  }
  .features__list {
    display: block;
    margin-left: 196px;
    margin-right: 0;
    margin-top: 141px;
    width: 220px;
    position: relative;
  }
  .features__item {
    margin-bottom: 80px;
  }
  .features__item:nth-child(n+4) {
    display: block;
    position: absolute;
    left: 712px;
    top: 0;
    width: 220px;
  }
  .features__item:nth-child(n+5) {
    position: absolute;
    display: block;
    left: 712px;
    top: 185px;
    width: 220px;
  }
  .features__item:last-child {
    display: block;
    left: 712px;
    top: 370px;
    width: 220px;
  }
}
.video-section {
  background-color: #06071B;
}
.video-section__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 60px 120px 60px 0;
}
.video-section__box::before {
  position: absolute;
  content: "";
  width: 213px;
  height: 29px;
  top: 50%;
  left: 15%;
  background: linear-gradient(0deg, rgba(0, 197, 235, 0.5), rgba(0, 197, 235, 0.5)), #D9D9D9;
  filter: blur(51.5px);
  transform: rotate(128.76deg);
}
.video-section__box::after {
  position: absolute;
  content: "";
  width: 130px;
  height: 29px;
  top: 30%;
  left: 30%;
  background: rgba(125, 85, 255, 0.5);
  filter: blur(51.5px);
  transform: rotate(128.76deg);
}
.video-section__title {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.video-section__subtitle {
  max-width: 480px;
  margin-bottom: 40px;
}
.video-section__link {
  display: inline-block;
  cursor: pointer;
}
.video-section__link:not(:last-child) {
  margin-right: 20px;
}
.video-section__icon {
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 50%;
  fill: #ffffff;
}
.video-section__image-box {
  position: relative;
}
.video-section__gradient::before {
  position: absolute;
  content: "";
  width: 194px;
  height: 327px;
  top: -20%;
  left: 15%;
  background: rgba(0, 197, 235, 0.5);
  filter: blur(51.5px);
  transform: matrix(0.04, -1, -1, -0.02, 0, 0);
}
.video-section__gradient::after {
  position: absolute;
  content: "";
  width: 255px;
  height: 333px;
  top: -10%;
  left: 40%;
  background: rgba(125, 85, 255, 0.5);
  filter: blur(51.5px);
  transform: matrix(-0.08, -1, 0.99, -0.1, 0, 0);
}
.video-section__image {
  position: relative;
  z-index: 1;
}

.customers__container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.customers__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}
.customers__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  text-align: center;
}
.customers__photo-box {
  display: block;
  margin-bottom: 20px;
}
.customers__name {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
}
.customers__company {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.customers__text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.customers__list {
  display: flex;
  width: 76px;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */