<section class="customers">
  <div class="container customers__container">
    <h2 class="customers__title">What our costomer`s say</h2>
    <div class="customers__card">
        <div class="customers__photo-box">  <img
        srcset="/src/images/customer.jpg 1x, /src/images/customer@2x.jpg 2x"
        src="/src/images/customer.jpg"
        alt="Мужчина в профиль"
        class="customer__photo"
      /></div>
    
      <h3 class="customers__name">Jon Doe</h3>
      <h4 class="customers__company">Company inc.</h4>
      <p class="customers__text">
        Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
        venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
        ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi.
        Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam
        et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean
        gravida massa et ante pulvinar, id
      </p>
      <ul class="customers__list">
        <li class="customers__list-item">
          <svg width="6" height="6">
            <use href="/src/images/sprite-icons.svg#icon-ellipse"></use>
          </svg>
        </li>
        <li class="customers__list-item">
          <svg width="6" height="6">
            <use href="/src/images/sprite-icons.svg#icon-ellipse"></use>
          </svg>
        </li>
        <li class="customers__list-item">
          <svg width="6" height="6">
            <use href="/src/images/sprite-icons.svg#icon-ellipse"></use>
          </svg>
        </li>
        <li class="customers__list-item">
          <svg width="6" height="6">
            <use href="/src/images/sprite-icons.svg#icon-ellipse"></use>
          </svg>
        </li>
        <li class="customers__list-item">
          <svg width="6" height="6">
            <use href="/src/images/sprite-icons.svg#icon-ellipse"></use>
          </svg>
        </li>
        <li class="customers__list-item">
          <svg width="6" height="6">
            <use href="/src/images/sprite-icons.svg#icon-ellipse"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
