<section>
    <div class="container section-features__container">
    <h3 class="section-features__title" >KEY FEATURES</h3>
    <p class="section-features__text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend. </p>
    <img class="section-features__image" src="./images/man-with-laptop.png" alt="man-with-laptop">
    <img class="section-features__tablet-image" src="./images/man-with-laptop-tablet.png" alt="man-with-laptop">
    <ul class="features__list">
        <li class="features__item">
            <h4 class="features__title">Amet varius</h4>
            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
            <h4 class="features__title">Amet varius</h4>
            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
            <h4 class="features__title">Amet varius</h4>
            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
            <h4 class="features__title">Amet varius</h4>
            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
            <h4 class="features__title">Amet varius</h4>
            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
            <h4 class="features__title">Amet varius</h4>
            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
        </li>

    </ul>
</div>
</section>