<footer class="footer">
    <div class="container">
        <h2 class="footer__header">Contact us</h2>
        <h3 class="footer__title">Get in touch with us</h3>
        <p class="footer__text">Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus
            fringilla
            nulla sollicitudin tristique.</p>
        <ul class="footer__icon">
            <li>
                <a href="" class="footer__image">
                    <svg width="40" height="40">
                        <use href="./images/sprite-icons.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="" class="footer__image">
                    <svg width="40" height="40">
                        <use href="./images/sprite-icons.svg#icon-twitter">
                        </use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="" class="footer__image">
                    <svg width="40" height="40">
                        <use href="./images/sprite-icons.svg#icon-linkedin">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
        <address class="footer__address">
            <ul>
                <li><a href="tel:+xx-xxxx-xxxx-xx" class="">+xx-xxxx-xxxx-xx</a></li>

                <li><a href="email:goIteens@gmail.com" class="">goIteens@gmail.com</a></li>
            </ul>
        </address>
    </div>

</footer>