<section class="hero">
  <div class="container">
    <div class="hero-box">
      <h1 class="hero-title">Introducing Mobileapp</h1>
      <p class="hero-subtitle">Maecenas vitae tellus sapien. Prasent</p>
      <ul class="hero-item">
        <li class="hero-items list">
          <svg class="items-icon" width="18" height="18">
            <use src="../images/sprite-icons.svg#icon-hero-ul"></use>
          </svg>
          semper scelerisque tristique a enim
        </li>
        <li class="hero-items list">
          <svg class="items-icon" width="18" height="18">
            <use src="../images/sprite-icons.svg#icon-hero-ul"></use>
          </svg>
          Integer ut mattis nulla, eget vehicula elit
        </li>
        <li class="hero-items list">
          <svg class="items-icon" width="18" height="18">
            <use src="../images/sprite-icons.svg#icon-hero-ul"></use>
          </svg>
          Prasent rutrum ac nunc et
        </li>
      </ul>
      <button type="button" class="hero-button">Download</button>
    </div>
  </div>
</section>
