<section class="section section--padding-bottom">
    <div class="container">
        <div class="swiper mySwiper">
            <ul class="swiper-list swiper-wrapper">
                <li class="swiper-list__item swiper-slide">
                    <div class="swiper-list__image-container">
						<img
						srcset="/src/images/customer.jpg 1x, /src/images/customer@2x.jpg 2x"
						src="/src/images/customer.jpg"
						alt="Мужчина в профиль"
						class="customer__photo"
					  />
                    </div>
                    <div class="swiper-list__reviews-container">
                        <p class="swiper-list__reviews-text">
                            <h2 class="swiper-list__reviews-text--block">Jon Doe</h2>
                            <h3>Company Inc.</h3>
                            <span class="swiper-list__reviews-text--block">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </span>
                        </p>
                    </div>
                </li>
                <li class="swiper-list__item swiper-slide">
                    <div class="swiper-list__image-container">
						<img
						srcset="/src/images/customer.jpg 1x, /src/images/customer@2x.jpg 2x"
						src="/src/images/customer.jpg"
						alt="Мужчина в профиль"
						class="customer__photo"
					  />
                    </div>
                    <div class="swiper-list__reviews-container">
                        <p class="swiper-list__reviews-text">
                            <h2 class="swiper-list__reviews-text--block">Jon Doe</h2>
                            <h3 class="swiper-list__reviews-text--block">Company Inc.</h3>
                            <span class="swiper-list__reviews-text--block">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </span>
                        </p>
                    </div>
                </li>
                <li class="swiper-list__item swiper-slide">
                    <div class="swiper-list__image-container">
						<img
						srcset="/src/images/customer.jpg 1x, /src/images/customer@2x.jpg 2x"
						src="/src/images/customer.jpg"
						alt="Мужчина в профиль"
						class="customer__photo"
					  />
                    </div>
                    <div class="swiper-list__reviews-container">
                        <p class="swiper-list__reviews-text">
                            <h2 class="swiper-list__reviews-text--block">Jon Doe</h2>
                            <h3 class="swiper-list__reviews-text--block">Company Inc.</h3>
                            <span class="swiper-list__reviews-text--block">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </span>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>