<section class="video-section">
  <div class="container">
    <div class="video-section__box">
      <div class="video-section__content">
        <h2 class="video-section__title">Watch the video</h2>
        <p class="video-section__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          fringilla fringilla nisl congue congue. Maecenas nec condimentum
          libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies
          nisl at, hendrerit risusuis ornare luctus id sollicitudin ante
          lobortis at.
        </p>
        <a href="#" class="video-section__link">
          <svg width="60" height="60" class="video-section__icon">
            <use href="./images/sprite-icons.svg#icon-apple"></use>
          </svg>
        </a>
        <a href="#" class="video-section__link">
          <svg width="60" height="60" class="video-section__icon">
            <use href="./images/sprite-icons.svg#icon-android"></use>
          </svg>
        </a>
      </div>
      <div class="video-section__image-box">
        <img class="video-section__image" src="./images/iphone.png" alt="#" />
        <span class="video-section__gradient"></span>
      </div>
    </div>
  </div>
</section>
