<section class="video-section">
  <div class="container">
    <div class="video-section__box">
      <h2 class="video-section__title">Watch the video</h2>
      <p class="video-section__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
        at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
        hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
      </p>
      <svg width="60" height="60" class="video-section__icon">
        <use src="../images/sprite-icons.svg#icon-apple"></use>
      </svg>
      <svg width="60" height="60" class="video-section__icon">
        <use src="../images/sprite-icons.svg#icon-android"></use>
      </svg>
      <img src="../images/iphone.png" alt="#" class="video-section__image" />
    </div>
  </div>
</section>
