<section class="video-section">
  <div class="container">
    <div class="video-box">
      <h2 class="video-box__title">Watch the video</h2>
      <p class="video-box__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
        at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
        hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
      </p>
      <svg class="video-box__icon">
        <use href="#"></use>
      </svg>
      <svg class="video-box__icon">
        <use href="#"></use>
      </svg>
      <img src="#" alt="#" class="video-box__image" />
    </div>
  </div>
</section>
