.header {
  position: absolute;
  z-index: 1;
  left: 1px;
  right: 1px;
  display: flex;
  align-items: center;
  height: 72px;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  backdrop-filter: blur(17.5px);
  transform: translateY(26px);
}

.header-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    display: flex;
    gap: 40px;
  }
}

.logo {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
  color: $white-color;
}

.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: $white-color;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
