.hero {
  color: $color-text-white;

  background-color: $background-hero;
  background-position: center;
}

.container--relative {
  position: relative;
}

.hero__picture-mobile {
  position: absolute;
  top: 10px;
  right: 0;
}

.hero__picture-spraying {
  position: absolute;
  top: 30px;
  left: 0;
}

.hero__box {
  display: flex;
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 145px;
  padding-bottom: 146px;
}

.hero__title {
  margin-bottom: 12px;

  font-size: 40px;
  line-height: 1.2;
}

.hero__subtitle {
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.hero__item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 60px;

  font-weight: 700;
  line-height: 1.19;
}

.items__link {
  display: flex;
  align-items: center;
  gap: 4px;

  color: $color-text-white;

  transform: scale(1);
  transition: transform 250ms $transition-cubic-bezier;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.items__icon {
  fill: currentColor;
}

.hero__button {
  padding: 11px 60px;

  font-weight: 700;

  color: $color-text-white;
  background: $buttons-gradient;

  border: transparent;
  border-radius: 5px;

  transform: scale(1);
  transition: transform 250ms $transition-cubic-bezier;

  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}
