

.video-box {
    background-color: #06071B;
    color: $white-color;
    padding: 60px 15px 80px 16px;
}

.video-box__title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.video-box__subtitle {
    max-width: 480px;
    margin-bottom: 40px;
}